*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Font', sans-serif;
}
body{
    background: black;
    color: white;
}

/* ---------- Home page header ---------- */

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.9) 0,rgba(0, 0, 0, .1) 60%,rgba(0,0,0,.9)100%),url(../../images/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 4rem;
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.header nav .logo{
    width: 148px;

}

.header nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    font-size: 1rem;
    border-radius: .3rem;
    margin-right: .5rem;
    cursor: pointer;
}

.header nav .language{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: .375rem 1rem .375rem 2rem;
}

.header nav .language img{
    width: 10px;
    margin-left: 1rem;
}
.header nav .signin{
    display: inline-flex;
    align-items: center;
    padding: .25rem 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.header nav .signin a{
    text-decoration: none;
    color: white;
}

.header nav .signin:hover{
    background-color: #821111;
    transition: .3s ;
}

/* ---------- Home page content ---------- */

.header .headercontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header .headercontent h1{
    font-size: 3rem;
    font-weight: 600;
    max-width: 1000px;
}

.header .headercontent h3{
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 5rem;
}

.header .headercontent p{
    font-size: 1.2rem;
}

.header .headercontent .email-signup input{
    padding: 1rem 1.5rem;
    padding-right: 10rem;
    margin-top: 1rem;
    background-color: rgba(33, 31, 31, .8);
    border: 1px solid white;
    border-radius: .4rem;
    font-size: 1rem;
    margin-right: .5rem;
    color: white;   
}

.header .headercontent .email-signup button{
    padding: .9rem 1.2rem;
    margin-top: 1rem;
    border: none;
    background-color: rgb(255, 0, 0);
    border-radius: .4rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}

.header .headercontent .email-signup button a{
    text-decoration: none;
    
    color: white;
}

/* ---------- Features ---------- */

.features{
    padding: 3.125rem 12%;
    font-size: 1.375rem;
}
.features .sections{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 3.125rem 0;
    flex-wrap: wrap;
    
}

.features .margin{
    width: 100%;
    height: 1px;
    background-color: rgb(62, 62, 62);
}

.features .sections .text,.image{
    flex-basis: 50%;
    margin-bottom:1.25rem;
}

.features .sections .image img{
    display: block;
    width: 90%;
    margin: auto;
}

.features .sections .text h2{
    font-size: 3.125rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

/* ---------- FAQ ---------- */

.faq{
    padding: .625rem 12%;
    text-align: center;
    font-size: 20px;
}

.faq h2{
    font-weight: 600;
    font-size: 2.5rem;
}

.accordian{
    margin: 3.75rem auto;
    width: 100%;
    max-width: 750px;
}

.accordian li{
    list-style: none;
    width: 100%;
    padding: 5px;
    transform: scaleX(1.15);
}

.accordian li label{
    display: flex;
    align-items: center;
    padding: 35px 5rem 35px 20px;
    font-size: 25px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
.accordian li label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}

.accordian .content{
    background-color: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    transition: max-height 0.5s,padding .5s;
    overflow: hidden;
}

.accordian input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordian input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.faq p{
    font-size: 1.2rem;
}

.faq .email-signup input{
    padding: 1rem 1.5rem;
    padding-right: 10rem;
    margin-top: 1rem;
    background-color: rgba(33, 31, 31, .8);
    border: 1px solid white;
    border-radius: .4rem;
    font-size: 1rem;
    margin-right: .5rem;
    color: white;   
}

.faq .email-signup button{
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border: none;
    background-color: rgb(255, 0, 0);
    border-radius: .4rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 5rem;
}

.faq .email-signup button a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

/* ---------- Footer ---------- */

.footer{
    padding: 60px 15% 10px;
    border-top: 6px solid #333;
    color: #8d8c8c;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;  
    display: inline-block;
    margin-right: 10rem;
}

.footer .col a{
    
    display: block;  
    text-decoration:underline;
    color: #8d8c8c;
    font-size: 14px;
    margin-bottom: 15px;
}
.footer .row{
    align-items: center;
    padding: 10px 0;
}

.footer button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    font-size: 1rem;
    border-radius: .3rem;
    margin-right: .5rem;
    cursor: pointer;
}

.footer .language{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: .375rem 1rem .375rem 2rem;
}

.footer .language img{
    width: 10px;
    margin-left: 1rem;
}
.footer .copyright-text{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* ---------- Sign In Page ---------- */

.signin-header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5) 0,rgba(0, 0, 0, .5) 60%,rgba(0,0,0,.5)100%),url(../../images/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 4rem;
    
}

.signin-header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    display: flex;
}

.signin-header nav .logo{
    width: 148px;

}

/* ---------- Sign In Content ---------- */

.signin-headercontent{
    background-color: rgba(0, 0, 0, .75);
    padding: 50px 0px 40px 50px;
    margin: 20px 0px -256px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.signin-headercontent h1{
    margin-bottom: 28px;
}

.signin-headercontent .signin-form input[type="email"]{
    display: inline-flex;
    padding: 16px 20px 10px;
    width: 90%;
    position: relative;
    background-color: #333333;
    border: 0;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: white;
    font-size: 18px;
}

.signin-headercontent .signin-form input[type="password"]{
    display: inline-flex;
    padding: 16px 20px 10px;
    width: 90%;
    position: relative;
    background-color: #333333;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 18px;
}

.signin-headercontent .signin-form button{
    display: block;
    padding: 16px;
    margin: 40px 0 12px;
    border-radius: 4px;
    border: 0;
    font-size: 1rem;
    font-weight: 500;
    background-color: #e50914;
    width: 90%;
}

.signin-headercontent .signin-form .other-input{
    margin-bottom: 68px;
}

.signin-headercontent .signin-form .other-input input[type="checkbox"] + label{
    color: #f3f3f3;
    display: inline-block;
    line-height: 1.2;
    padding: 0 0 2px;
    padding-right: 50px;
    position: relative;
}

.signin-headercontent .signin-form .other-input input[type="checkbox"]{
    height: 16px;
    width: 16px;

}

.signin-headercontent .signin-form .other-input a{
    color: #f3f3f3;
    text-decoration: none;
    position: absolute;
    right:65px ;
}

.signin-headercontent .signin-form .other-input a:hover{
    text-decoration: underline;
}

.signin-headercontent .signin-form h4{
    color: #8d8c8c;
    font-weight: 400;
    margin-bottom: 20px;
}

.signin-headercontent .signin-form h4 a{
    text-decoration: none;
    color: white;

}

.signin-headercontent .signin-form h4 a:hover{
    text-decoration: underline;
}

.signin-headercontent .signin-form p{
     color: #8d8c8c;
    font-weight: 400;
    margin-bottom: 90px;

}

.signin-headercontent .signin-form p a{
    text-decoration: none;
    color: blue;   
}

.signin-headercontent .signin-form p a:hover{
    text-decoration: underline;
}

/* ---------- Sign In Footer ---------- */

.signin-footer{
    padding: 60px 15% 10px;
    color: #8d8c8c;
}

.signin-footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.signin-footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;  
    display: inline-block;
    margin-right: 10rem;
}

.signin-footer .col a{
    
    display: block;  
    text-decoration:underline;
    color: #8d8c8c;
    font-size: 14px;
    margin-bottom: 15px;
}
.signin-footer .row{
    align-items: center;
    padding: 10px 0;
}

.signin-footer button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    font-size: 1rem;
    border-radius: .3rem;
    margin-right: .5rem;
    cursor: pointer;
}

.signin-footer .language{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: .375rem 1rem .375rem 2rem;
}

.signin-footer .language img{
    width: 10px;
    margin-left: 1rem;
}

/* ---------- Sign In Step-1 ---------- */

.signin-step-1-header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    display: flex;
    margin-left: 3%;
}

.signin-step-1-header nav .logo{
    width: 167px;
}

.signin-step-1-header nav a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 600;
    margin: 0 3%;
}

.signin-step-1-header nav a:hover{
    text-decoration: underline;
}

.simplecontainer{
    padding: 0px 0px 90px;
}

.simplecontainer .centercontainer{
    margin: 0px auto 15px;
    padding: 20px 32px 60px;
    max-width: 450px;
}

.simplecontainer .centercontainer .centercontainer-image{
    width: 260px;
    height: 210px;
}

.simplecontainer .centercontainer .centercontainer-content{
    text-align: center;
}

.simplecontainer .centercontainer .centercontainer-content h6{
    font-size: 13px;
    font-weight: 500;
}
.simplecontainer .centercontainer .centercontainer-content h6 span{
    font-weight: 600;
}

.simplecontainer .centercontainer .centercontainer-content h2{
    font-size: 32px;
    margin: 0 0 13px;
}
.simplecontainer .centercontainer .centercontainer-content p{
    font-size: 18px;
}
.simplecontainer .centercontainer .centercontainer-content .submit-container{
    margin-top: 24px;
}

.simplecontainer .centercontainer .centercontainer-content .submit-container button{
    border-radius: 4px;
    font-size: 24px;
    min-width: 110px;
    font-weight: 400;
    min-height: 64px;
    background: #e50914;
    width: 100%;
    color: white;
    border: 0;
    outline: 0;
    padding: 20.5px 48px;
}

.simplecontainer .centercontainer .centercontainer-content .submit-container button:hover{
    background: rgb(255, 0, 0);
    cursor: pointer;
}

/* ---------- Sign In Footer ---------- */

.signin-step-footer{
    padding: 60px 10% 10px;
    color: #737373;
    background: #dedede;
}

.signin-step-footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.signin-step-footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;  
    display: inline-block;
    margin-right: 10rem;
}

.signin-step-footer .col a{
    
    display: block;  
    text-decoration:underline;
    color: #8d8c8c;
    font-size: 14px;
    margin-bottom: 15px;
}
.signin-step-footer .row{
    align-items: center;
    padding: 10px 0;
}

.signin-step-footer button{
    border: 0 solid #737373;
    outline: 0;
    background: #db0001;
    color: #737373;
    font-size: 1rem;
    border-radius: .3rem;
    margin-right: .5rem;
    cursor: pointer;
}

.signin-step-footer .language{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #737373;
    padding: .375rem 1rem .375rem 2rem;
}

.signin-step-footer .language img{
    width: 10px;
    margin-left: 1rem;
}

/* ---------- Sign In Registration Form ---------- */

.simplecontainer1{
    padding: 50px 0px 90px;
}

.simplecontainer1 .centercontainer1{
    margin: 0px auto 15px;
    padding: 20px 32px 60px;
    max-width: 500px;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content{
    text-align: left;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content h6{
    font-size: 13px;
    font-weight: 500;
}
.simplecontainer1 .centercontainer1 .centercontainer1-content h6 span{
    font-weight: 600;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content h2{
    font-size: 32px;
    margin: 0 0 13px;
    font-weight: 600;
    line-height: 45px;
}
.simplecontainer1 .centercontainer1 .centercontainer1-content p{
    font-size: 18px;
    line-height: 30px;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-email{
    position: relative;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-email input{
   
    height: 60px;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 16px;
    border: 1px solid #e50914;
    outline: none;
    background: transparent;
    margin-top: 16px;
    min-width: 110px;
    width: 100%;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-email label{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translatey(-25%);
    font-size:20px;
    pointer-events: none;
    transition: .3s;
    color: #737373;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-email input:focus{
    border: 1px solid black;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-email input:focus~label,
.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-email input:valid~label{
    top: 35%;
    left: 16px;
    font-size: 12px;
    padding: 0 2px 10px;

}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-password{
    position: relative;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-password input{
   
    height: 60px;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 16px;
    border: 1px solid #e50914;
    outline: none;
    background: transparent;
    margin-top: 16px;
    min-width: 110px;
    width: 100%;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-password label{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translatey(-25%);
    font-size:20px;
    pointer-events: none;
    transition: .3s;
    color: #737373;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-password input:focus{
    border: 1px solid black;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-password input:focus~label,
.simplecontainer1 .centercontainer1 .centercontainer1-content .signin-password input:valid~label{
    top: 35%;
    left: 16px;
    font-size: 12px;
    padding: 0 2px 10px;

}

.simplecontainer1 .centercontainer1 .centercontainer1-content .submit-container1{
    
    margin-top: 24px;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .submit-container1 button{
    border-radius: 4px;
    font-size: 24px;
    min-width: 110px;
    font-weight: 400;
    min-height: 64px;
    background: #e50914;
    width: 100%;
    color: white;
    border: 0;
    outline: 0;
    padding: 20.5px 48px;
}

.simplecontainer1 .centercontainer1 .centercontainer1-content .submit-container1 button:hover{
    background: rgb(255, 0, 0);
    cursor: pointer;
}

/* ---------- Sign In Page 2 ---------- */

.simplecontainer2{
    padding: 0px 0px 90px;
}

.simplecontainer2 .centercontainer2{
    margin: 0px auto 15px;
    padding: 20px 32px 60px;
    max-width: 450px;
}
.simplecontainer2 .centercontainer2 .centercontainer2-icon{
    text-align: center;
    margin: 131px auto 20px;
}

.simplecontainer2 .centercontainer2 .centercontainer2-icon i{
   color: red; 
   text-align: center; 
   font-size: 4rem;
}


.simplecontainer2 .centercontainer2 .centercontainer2-content h6{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
.simplecontainer2 .centercontainer2 .centercontainer2-content h6 span{
    font-weight: 600;
}

.simplecontainer2 .centercontainer2 .centercontainer2-content h2{
    font-size: 32px;
    margin: 0 0 30px;
    text-align: center;
}

.simplecontainer2 .centercontainer2 .centercontainer2-content i{
    color: #e50914;
    text-align: left;
    font-size: 30px;
    margin: 0 10px 30px 0;
}

.simplecontainer2 .centercontainer2 .centercontainer2-content p{
    font-size: 20px;
    padding-left: 20px;
    line-height: 20px;  
    display: inline-block;
}


.simplecontainer2 .centercontainer2 .centercontainer2-content .submit-container{
    margin-top: 24px;
}

.simplecontainer2 .centercontainer2 .centercontainer2-content .submit-container button{
    border-radius: 4px;
    font-size: 24px;
    min-width: 110px;
    font-weight: 400;
    min-height: 64px;
    background: #e50914;
    width: 100%;
    color: white;
    border: 0;
    outline: 0;
    padding: 20.5px 48px;
}

.simplecontainer2 .centercontainer2 .centercontainer2-content .submit-container button:hover{
    background: rgb(255, 0, 0);
    cursor: pointer;
}

/* ---------- Plans ---------- */

.plancontainer{
    padding: 0px 0px 90px;
}

.plancontainer .plan-center-container{
    margin: 32px auto 15px;
    max-width: 940px;
}

.plancontainer .plan-center-container h6{
    font-size: 13px;
    font-weight: 500;
}
.plancontainer .plan-center-container h6 span{
    font-weight: 700;
}

.plancontainer .plan-center-container h2{
    font-size: 32px;
    margin: 20px 0;
}
.plancontainer .plan-offers{
    margin: 32px auto 15px;
    max-width: 940px;
}
.plancontainer .plan-offers i{
    color: #e50914;
    text-align: left;
    font-size: 30px;
    margin: 0 5px 30px 0;
    display: inline;
}
.plancontainer .plan-offers span{
    font-size: 20px;
    padding-left: 5px;
    position: relative;
    top:-5px;
    font-weight: 200;

}

.plancontainer .plans-offered {
    margin: 32px auto 15px;
    max-width: 940px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.plancontainer .plans-offered .plan-names{
    display: flex;
    flex-direction: row;
}

.plancontainer .plans-offered .plan-names .plan-names-box{
    width: 25%;
    padding:12px 0;
    position: relative;
    
}
.plancontainer .plans-offered .plan-names .plan-names-box .plan-name-btn input[type="radio"]:checked +span{
    opacity: 1;
}


.plancontainer .plans-offered .plan-names .plan-names-box .plan-name-btn .plan-input{
    left: 50%;
    top: 50%;
    position: absolute;
    opacity: 0;
    transform: translate(-50%,-50%);
    
    
}
.plancontainer .plans-offered .plan-names .plan-names-box .plan-name-btn{
    padding: 10px;
}
.plancontainer .plans-offered .plan-names .plan-names-box .plan-name-btn span{
    background: #e50914;
    border-radius: 2px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;
    opacity: .6;
    padding: 48px 32px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 0 20px;
}

.plancontainer .plans-offered .plan-names .plan-names-box .plan-name-btn input[type="radio"]:checked+.arrow-logo::after{
    border:13px solid transparent;
    border-top-color: #e50914;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%);
}
.plancontainer .plan-grid-table{
    margin: 32px auto 15px;
    max-width: 1000px;
}
.plan-grid-table{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    padding-bottom: 10px;
}
table{
    box-sizing: border-box;
    text-indent: initial;
    border-color: gray;
}
.plan-grid-table-body{
    display: flex;
    flex-direction: column;
}
tbody{
    vertical-align: middle;
    border-color: inherit;
}

@media only screen and (max-width: 950px) and (min-width: 601px), only screen and (min-width: 951px){
.plan-grid-table-row {
    border-bottom: 1px solid #ccc;
    min-height: 60px;
}
}

.plan-grid-table-row{
    display: flex;
    
}
tr{
    vertical-align: inherit;
    border-color: inherit;
}

@media only screen and (max-width: 950px) and (min-width: 601px), only screen and (min-width: 951px){
.plan-grid-table-col {
    width: 35%;
}
}

@media only screen and (max-width: 950px) and (min-width: 601px), only screen and (min-width: 951px){
.plan-grid-table-cell {
    width: 16.25%;
}}
.plan-grid-table-col{
    fill: #333;
    color: #333;
    flex: 0 0 auto;
    text-align: left;
}

@media only screen and (max-width: 950px) and (min-width: 601px), only screen and (min-width: 951px){
.plan-grid-table-cell {
    padding: 12px 16px;
}
}

.plan-grid-table-cell{
    fill: #a6a6a6;
    box-sizing: border-box;
    color: #717171;
    display: block;
    flex: 1 0 1;
    text-align: left;
}

@media only screen and (max-width: 950px) and (min-width: 601px), only screen and (min-width: 951px){
.plan-grid-table-cell {
    width: 16.25%;
}}

.plan-grid-table-cell.plan-grid-cell-select:not(.plan-grid-table-col){
    fill: #e50914;
    color: #e50914;
}


.plan-grid-cell-content,.plan-grid-cell-videoquality {
   text-align:center;
   position: relative;
   left:25%;
   top: 100%;
   transform: translate(-50%);
}

@media only screen and (max-width: 950px) and (min-width: 601px), only screen and (min-width: 951px){
.plan-names {
    width:68.5%;
}}
@media only screen and (max-width: 950px) and (min-width: 601px){
    .plancontainer .plans-offered .plan-names .plan-names-box .plan-name-btn span{
        
        padding: 38px 22px;
    }
}
.plancontainer p{
    color: #717171;
    max-width: 1000px;
    margin: 20px auto;
}

.plancontainer .submit-container{
    
    max-width:400px;
    margin: 32px auto 70px;
}
.plancontainer .submit-container button{
    border-radius: 4px;
    font-size: 24px;
    min-width: 110px;
    font-weight: 400;
    min-height: 64px;
    background: #e50914;
    width: 100%;
    color: white;
    border: 0;
    outline: 0;
    padding: 20.5px 48px;
}

.plancontainer .submit-container button:hover{
    background: rgb(255, 0, 0);
    cursor: pointer;
}

/* ---------- Netflix Home Page ---------- */


.pinning-header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.9) 0,rgba(0, 0, 0, .1) 50%,rgba(0,0,0,.9)100%);
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
}

.pinning-header .pinning-header-container .main-header nav{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 1rem 0;
}
@media only screen and (max-width: 880px) {
    .navigation-links{
        display: none;
    }
    .children{
        display: none;
    }
    #background-video {
      position:fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: -1;
    }
}
@media only screen and (max-width: 1100px) and (min-width: 880px){
    .children{
        display: none;
    }
    .navigation-links{
        font-size: 14px;
        transition: .3s ease-in-out;
    }
}
.pinning-header .pinning-header-container .main-header nav .logo{
    width: 100px;
    padding-right: 10px;
      
}

.main-header a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.main-header .search-area{
    width: 200px;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    outline: none;
    overflow: hidden;
    color: white;
    display: none;
}
.navigation-links a:hover{
    color: #818181;
    font-weight: 500;
    transition: .3s;
}

.navigation-links .active{
    font-weight: 600;
}



/* ---------------------     Video    ---------------- */


#background-video {
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;
    }




.dropdon-profile{
    display: none;
    position: absolute;
    top: 280px;
    right: 50px;
    min-width: 17   0px;
    transform: translate(0,-50%);
    background: rgba(0, 0, 0, .8);
    padding: 25px;
}

.dropdon-profile a{
    padding: 10px 10px;
    font-size: 15px;
    display: block;
}
.dropdon-profile i{
    padding-right: 10px;
    font-size: 12px;
}
.dropdon-profile a:hover{
    text-decoration: underline;
}
.dropdon-profile .sign-out-home{
    text-align: center;
}
.dropdown{
    transition: transform .5s;
}
.dropdown:hover{
    transform: rotate(180deg);
    
}
.dropdown:hover+.dropdon-profile{
    display: block;
    
}

.main-header .search-bar{
    position: absolute;
    right: 15%;
    transform: translate(-15%);
}
.main-header .other-links{
    position: absolute;
    right: 1%;
    transform: translate(-5%);
}
.main-header .other-links i{
    padding: 10px;
}

@media only screen and (max-width: 2480px) and (min-width: 1920px) {
    .main-header .search-bar{
    position: absolute;
    right: 10%;
    transform: translate(-15%);
}
.main-header .other-links{
    position: absolute;
    right: 1%;
    transform: translate(-5%);
}
}
@media only screen and (max-width: 1919px) and (min-width: 1240px) {
    .main-header .search-bar{
    position: absolute;
    right: 15%;
    padding-right: 10px;
}
.main-header .other-links{
    position: absolute;
    right: 5%;
    transform: translate(10%);
}
}
@media only screen and (max-width: 1100px){
    .main-header .search-bar{
    position: absolute;
    right: 12%;
    transform: translate(-20%);
}
.main-header .other-links{
    position: absolute;
    right: 1%;
    transform: translate(-5%);
}
.small-container{
    position: absolute;
    top: 100px;
    position: relative;
    animation-name: logo-animation1;
    animation-duration:1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 200px;

}
.small-container #change-logo{
    width: 100%;
    
}
@keyframes logo-animation1 {
    from{
        top: 150px;
    }
    to{
        width: 100px;
        top: 300px;
        
    }
}
}
/* ------ Image Logo */

.small-container{
    top: 150px;
    position: relative;
    animation-name: logo-animation;
    animation-duration:3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 400px;
    left: 3%;

}
.small-container #change-logo{
    width: 100%;
    
}
@keyframes logo-animation {
    from{
        top: 150px;
        width: 400px;
    }
    to{
        width: 300px;
        top: 250px;
        
    }
}

.video-btns{
    position: absolute;
    top: 450px;
    left: 5%;
    width: 400px;
}
.video-btns .play-btn i{
    padding: 0px 16px 0 0px;
}
.video-btns .play-btn{
    padding: 10px 5%;
    font-size: 1.5rem;
    border-radius: 4px;
    border: none;
    outline: none;

}
.video-btns .info-btn i{
    padding: 0px 16px 0 0px;
}
.video-btns .info-btn{
    padding: 10px 10%;
    font-size: 1.5rem;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color:rgba(109, 109, 110, 0.7);
}
.video-btns .play-btn:hover{
    background-color: #dad8d5;
    cursor: pointer;
}
.video-btns .info-btn:hover{
    cursor: pointer;
    background-color: #7a7978;
    transition: .5s;
}


.movies-slides .row-header{
    position:absolute;
    top:550px;
    left: 6%;
    
}
.movies-slides .sildeshow .slideshow-box img{
    height: 200px;
    width: 200px;
    position: fixed;
    top:650px;
    left: 6%;
    
}

   :root {
  --movie-width: 300px;
  --movie-height: 200px;
  --arrow-width: 50px;
  --slider-py: 200px;
}
@media only screen and (max-width: 1000px) {
  :root {
    --movie-width: 25vw;
  }
}
/*
*
* THE SLIDER CONTAINER
*
*********************************/
.slider {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
  padding-top: var(--slider-py);
  padding-bottom: var(--slider-py);
}
/*
*
* SLIDER INDICATORS
*
*********************************/
.container-indicators {
  width: 100px;
  position: absolute;
  right: 0;
  top: calc(var(--slider-py) - 60px);
  visibility: hidden;
}
.indicator {
  width: 15px;
  height: 2px;
  background-color: grey;
  display: inline-block;
}
.indicator.active {
  background-color: white;
}
/*
*
* MOVIE ELEMENTS!
*
*********************************/
.movie {
  width: var(--movie-width);
  height: var(--movie-height);
  display: inline-block;
  position: relative;
  color: white;
  padding: 0 2px;
  font-size: 0.8rem;
  transition: all 0.8s ease-in-out;
}
.movie:nth-of-type(1) {
  margin-left: var(--arrow-width);
}
.movie:hover {
  transform: scale(1.3);
  z-index: 2;
}
.movie img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.description {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: #272727;
  width: var(--movie-width);
  margin-top: -10px;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* Make description visible when movie is hovered */
.movie:hover > .description {
  display: block;
}
.movie:hover > img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.description__buttons-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.description__text-container {
  padding: 10px;
}
.description__match {
  color: green;
}
.description__rating {
  outline: 1px solid white;
  padding: 0 3px;
  margin: 0 5px;
}
.description__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  text-align: center;
  font-size: 8px;
  margin-right: 5px;
  border-radius: 100%;
}
.description__button:hover {
  border-color: grey;
  color: grey;
  cursor: pointer;
}
.description__button:nth-of-type(5) {
  margin-left: auto;
  margin-right: 0;
}
/*
*
* BUTTONS
*
*********************************/
.btn-nav {
  width: var(--arrow-width);
  height: var(--movie-height);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  color: white;
  top: var(--slider-py);
  z-index: 5;
  visibility: hidden;
}
#moveLeft {
  left: 0;
}
#moveRight {
  right: 0;
}
.container-1:hover .btn-nav,
.container-1:hover .container-indicators {
  visibility: visible;
}